In [1]:
import pandas as pd

In [2]:
xls1 = pd.ExcelFile("GS1.xlsx")
xls3 = pd.ExcelFile("GS3.xlsx")

In [3]:
df1 = pd.read_excel(xls1, "Consolidated Statements of Earn")
df3 = pd.read_excel(xls3, "Consolidated Statements of Earn")

In [4]:
# df1 = df1.iloc[1:]
df1.head()

                      Earnings   Dec. 31, 2021  Dec. 31, 2020  Dec. 31, 2019
0            Investment banking        14168.0         9141.0         6798.0
1         Investment management         8059.0         6923.0         6189.0
2          Commissions and fees         3619.0         3548.0         2988.0
3                 Market making        15352.0        15546.0        10157.0
4  Other principal transactions        11671.0         4651.0         6052.0

In [5]:
df3.head()

                      Earnings   Dec. 31, 2019  Dec. 31, 2018  Dec. 31, 2017
0            Investment banking         6798.0         7430.0         7076.0
1         Investment management         6189.0         6590.0         5867.0
2          Commissions and fees         2988.0         3199.0         3051.0
3                 Market making        10157.0         9724.0         7853.0
4  Other principal transactions         6052.0         5906.0         5951.0

In [6]:
df3 = df3.drop(df3.columns[1], axis = 1)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Earnings       32 non-null     object
 1   Dec. 31, 2021  29 non-null     float64
 2   Dec. 31, 2020  29 non-null     float64
 3   Dec. 31, 2019  29 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.1+ KB

In [8]:
df1.dropna(inplace = True)

In [9]:
df3.dropna(inplace = True)

In [13]:
df1.columns = df1.columns.str.strip()

In [15]:
df3.columns = df3.columns.str.strip()

In [16]:
result = pd.merge(df1,df3,how = "right", on = "Earnings")

In [21]:
result.rename(columns = {"Dec. 31, 2021":"Dec2021","Dec. 31, 2020":"Dec2020","Dec. 31, 2019":"Dec2019","Dec. 31, 2018":"Dec2018", "Dec. 31, 2017":"Dec2017" },inplace = True)

In [22]:
result.head()

                       Earnings  Dec2021  Dec2020  Dec2019  Dec2018  Dec2017
0            Investment banking  14168.0   9141.0   6798.0   7430.0   7076.0
1         Investment management   8059.0   6923.0   6189.0   6590.0   5867.0
2          Commissions and fees   3619.0   3548.0   2988.0   3199.0   3051.0
3                 Market making  15352.0  15546.0  10157.0   9724.0   7853.0
4  Other principal transactions  11671.0   4651.0   6052.0   5906.0   5951.0

In [28]:
result.set_index("Earnings",inplace = True)

In [32]:
result.to_csv("gs_earnings.csv")