# Time Series Basics

## Importing Time Series Data from csv-Files

In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv("temp.csv", parse_dates = ["datetime"], index_col= "datetime")

In [3]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [4]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [5]:
type(temp.iloc[0, 0])

numpy.float64

In [6]:
temp.index

DatetimeIndex(['2013-01-01 00:00:00', '2013-01-01 01:00:00',
               '2013-01-01 02:00:00', '2013-01-01 03:00:00',
               '2013-01-01 04:00:00', '2013-01-01 05:00:00',
               '2013-01-01 06:00:00', '2013-01-01 07:00:00',
               '2013-01-01 08:00:00', '2013-01-01 09:00:00',
               ...
               '2016-12-31 14:00:00', '2016-12-31 15:00:00',
               '2016-12-31 16:00:00', '2016-12-31 17:00:00',
               '2016-12-31 18:00:00', '2016-12-31 19:00:00',
               '2016-12-31 20:00:00', '2016-12-31 21:00:00',
               '2016-12-31 22:00:00', '2016-12-31 23:00:00'],
              dtype='datetime64[ns]', name='datetime', length=35064, freq=None)

In [7]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [8]:
# checking the first row
temp.index[0]

Timestamp('2013-01-01 00:00:00')

## Converting index (strings) to datetime objects with pd.to_datetime()

In [10]:
temp = pd.read_csv("temp.csv")

In [11]:
temp.head()

              datetime    LA   NY
0  2013-01-01 00:00:00  11.7 -1.1
1  2013-01-01 01:00:00  10.7 -1.7
2  2013-01-01 02:00:00   9.9 -2.0
3  2013-01-01 03:00:00   9.3 -2.1
4  2013-01-01 04:00:00   8.8 -2.3

In [12]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  object
 1   LA        35062 non-null  float64
 2   NY        35064 non-null  float64
dtypes: float64(2), object(1)
memory usage: 821.9+ KB

In [13]:
temp.datetime[0]

'2013-01-01 00:00:00'

In [14]:
pd.to_datetime(temp.datetime)

0       2013-01-01 00:00:00
1       2013-01-01 01:00:00
2       2013-01-01 02:00:00
3       2013-01-01 03:00:00
4       2013-01-01 04:00:00
                ...
35059   2016-12-31 19:00:00
35060   2016-12-31 20:00:00
35061   2016-12-31 21:00:00
35062   2016-12-31 22:00:00
35063   2016-12-31 23:00:00
Name: datetime, Length: 35064, dtype: datetime64[ns]

In [15]:
temp = temp.set_index(pd.to_datetime(temp.datetime)).drop("datetime", axis = 1)

In [16]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [17]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [18]:
temp.index[0]

Timestamp('2013-01-01 00:00:00')

In [19]:
pd.to_datetime("2015-05-20 10:30:20")

Timestamp('2015-05-20 10:30:20')

In [20]:
pd.to_datetime("20150520")

Timestamp('2015-05-20 00:00:00')

In [ ]:
pd.to_datetime("2015/05/20")

In [ ]:
pd.to_datetime("2015 05 20")

In [ ]:
#pd.to_datetime("2015-20-05")

In [ ]:
pd.to_datetime("2015 May 20")

In [ ]:
pd.to_datetime("May 2015 20")

In [ ]:
pd.to_datetime("2015 20th may")

In [ ]:
pd.to_datetime(["2015-05-20", "Feb 20 2015"])

In [ ]:
pd.to_datetime(["2015-05-20", "Feb 20 2015", "Elephant"], errors="coerce")

## Initial Analysis / Visual Inspection of Time Series

In [ ]:
temp.head()

In [ ]:
temp.tail()

In [ ]:
temp.info()

In [ ]:
temp.describe()

In [ ]:
temp.LA.value_counts()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
temp.plot(figsize = (15, 7), subplots=True, layout=(1, 2), sharey=True)
plt.show()

## Indexing and Slicing Time Series

In [ ]:
import pandas as pd

In [ ]:
temp = pd.read_csv("temp.csv", parse_dates= ["datetime"], index_col= "datetime")

In [ ]:
temp.head()

In [ ]:
temp.info()

In [ ]:
temp.loc["2013-01-01 01:00:00"]

In [ ]:
temp.loc["2015"]

In [ ]:
temp.loc["2015-05"]

In [ ]:
temp.loc["2015-05-20"].shape

In [ ]:
temp.loc["2015-05-20 10:00:00"]

In [ ]:
#temp.loc["2015-05-20 10:30:00"]

In [ ]:
temp.loc["2015-01-01" : "2015-12-31"]

In [ ]:
temp.loc["2015-01-01" : "2015-12-31"].equals(temp.loc["2015"])

In [ ]:
temp.loc["2015-04-15" : "2016-02-23"]

In [ ]:
temp.loc["2015-05-20":]

In [ ]:
temp.loc[:"2015-05-20"]

In [ ]:
temp.loc["20FEBRUARY2015"]

In [ ]:
#temp.loc[["2015-05-20 10:00:00", "2015-05-20 12:00:00"]]

In [ ]:
two_timestamps = pd.to_datetime(["2015-05-20 10:00:00", "2015-05-20 12:00:00"])
two_timestamps

In [ ]:
temp.loc[two_timestamps]

## Creating a customized DatetimeIndex with pd.date_range()

In [ ]:
import pandas as pd

In [ ]:
pd.to_datetime(["2015-05-20", "Feb 20 2015"])

In [ ]:
pd.date_range(start = "2015-07-01", end = "2015-07-31", freq= "D")

In [ ]:
pd.date_range(start = "2015-07-01", periods = 31, freq = "D")

In [ ]:
pd.date_range(end = "2015-07-31", periods = 31, freq = "D")

In [ ]:
pd.date_range(start = "2015-07-01", end = "2015-07-31", freq = "B")

In [ ]:
pd.date_range(start = "2015-07-31", periods = 10, freq = "H")

In [ ]:
pd.date_range(start = "2015-07-01", periods = 6,  freq = "W")

In [ ]:
pd.date_range(start = "2015-07-01", periods = 6,  freq = "W-Wed")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "M")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "MS")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = pd.DateOffset(months = 1))

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "Q")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "QS")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "QS-May")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "A")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "AS")

In [ ]:
pd.date_range(start = "2015-07-14", periods = 6,  freq = "AS-Jul")

In [ ]:
pd.date_range(end = "2018-11-24", periods = 10,  freq = pd.DateOffset(years = 1))

## More on pd.date_range()

In [ ]:
import pandas as pd

In [ ]:
pd.date_range(start = "2015-07-01", periods = 10, freq = "3D8H")

## Downsampling Time Series with resample() (Part 1)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
temp = pd.read_csv("temp.csv", parse_dates= ["datetime"], index_col = "datetime")

In [ ]:
temp.head()

In [ ]:
temp.info()

In [ ]:
list(temp.resample("D"))[1][1]

In [ ]:
temp.head(25)

In [ ]:
temp.resample("D").sum()

In [ ]:
temp.resample("2H").first()

In [ ]:
temp.resample("W").mean()

In [ ]:
temp.resample("W-Wed").mean()

In [ ]:
temp.resample("M").mean()

In [ ]:
temp.resample("MS").mean()

In [ ]:
temp.resample("MS", loffset="14D").mean()

In [ ]:
temp.resample("Q").mean()

In [ ]:
temp.resample("Q-Feb").mean()

In [ ]:
temp.resample("Y").mean()

In [ ]:
temp.resample("YS").mean()

## Downsampling Time Series with resample (Part 2)

In [ ]:
temp.resample("M", kind = "period").mean()

In [ ]:
temp.resample("W", kind = "period").mean()

In [ ]:
temp.resample("Q", kind = "period").mean()

In [ ]:
temp.resample("A", kind = "period").mean()

In [ ]:
temp_m = temp.resample("M", kind = "period").mean()

In [ ]:
temp_m

In [ ]:
temp_m.info()

In [ ]:
temp_m.index[0]

In [ ]:
temp_m.plot(figsize = (15, 8), fontsize = 15)
plt.show()

In [ ]:
temp.plot(figsize = (15, 8), fontsize = 15)
plt.show()

## The PeriodIndex Object

In [ ]:
import pandas as pd

In [ ]:
temp = pd.read_csv("temp.csv", parse_dates= ["datetime"], index_col = "datetime")

In [ ]:
temp.head()

In [ ]:
temp.tail()

In [ ]:
temp.info()

In [ ]:
temp_m = temp.resample("M", kind = "period").mean()
temp_m.head(12)

In [ ]:
temp_m.info()

In [ ]:
temp_m.index

In [ ]:
temp_m.loc["2013-01"]

In [ ]:
temp_m.loc["2013-05":"2013-08"]

In [ ]:
temp_m.loc["2013"]

In [ ]:
temp_m.to_timestamp(how = "start")

## Advanced Indexing with reindex()

In [ ]:
import pandas as pd

In [ ]:
temp = pd.read_csv("temp.csv", parse_dates= ["datetime"], index_col = "datetime")

In [ ]:
temp.head()

In [ ]:
temp.tail()

In [ ]:
temp_d = temp.resample("D").mean()
temp_d

In [ ]:
birthd = pd.date_range(end = "2018-12-24", periods = 10,  freq = pd.DateOffset(years = 1))
birthd

In [ ]:
temp_d.loc[birthd]

In [ ]:
temp_d.reindex(birthd)

In [ ]:
temp_d.head()

In [ ]:
temp_d.tail()